$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$lightgrey: #d3d3d3;
$red: #f00;
$logo-color: #398cff;

.col-xs-4 {
  background-color: $lightgrey;
  border: 6px solid $red;
  padding-top: 12%;
  text-align: center;
}

body {
  text-align: center;
}

.table-button {
  height: 100px;
  width: 100px;
}

.container {
  position: relative;
}

table {
  align-content: center;
  border: 3px solid $logo-color;
  border-collapse: collapse;
  table-layout: fixed;
  width: 50%;
}

.table-row {
  padding: 20px;
}
