$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$lightgrey: #d3d3d3;
$red: #f00;
$logo-color: #398cff;
$light-blue: #529bff;

body {
  text-align: center;
}

h1 {
  margin: 30px;
}

.game-board {
  height: 270px;
  margin: auto;
  width: 270px;
}

tr {
  border: 1px solid $logo-color;
  height: 90px;
  width: 90px;
}

td {
  border: 1px solid $logo-color;
  height: 30px;
  width: 30px;
}

.box {
  padding: 38px;
}

.new-game {
  margin: 30px;
}
