$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$lightgrey: #d3d3d3;
$red: #f00;
$logo-color: #398cff;

// .col-xs-4 {
//   background-color: $lightgrey;
//   border: 6px solid $red;
//   padding-top: 12%;
//   text-align: center;
// }

body {
  text-align: center;
}

.game-board {
  height: 270px;
  margin: auto;
  width: 270px;
}

tr {
  border: 1px solid $logo-color;
  height: 90px;
  width: 90px;
}

td {
  border: 1px solid $logo-color;
  height: 30px;
  width: 30px;
}

.new-game {
  margin: 30px;
}
